%tr( data-name="#{ @product.name }" )
  %td= @product.name
  %td= link_to "Destroy", product_path(@product), class: "btn btn-danger", method: :delete

  - if @product.in_shopping_list?
    %td
      <a href="#{ remove_product_path(@product) }" data-method="post" title="Remove from the shopping list" class="btn btn-link"><i class="icon-star"></i></a>
  - else
    %td
      <a href="#{ add_product_path(@product) }" data-method="post" title="Add to the shopping list" class="btn btn-link"><i class="icon-star-empty"></i></a>
