%tr( data-name="#{ @product.name }" )
  %td= @product.name
  %td= link_to "Destroy", product_path(@product), class: "btn btn-danger", method: :delete

  - if @product.in_shopping_list?
    %td= link_to "Remove from the shopping list", remove_product_path(@product), class: "btn", method: :post, title: "Remove from the shopping list"
  - else
    %td= link_to "Add to the shopping list", add_product_path(@product), class: "btn", method: :post, title: "Add to the shopping list"